@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

h1 {
    color: rosybrown;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
}

h2 {
    color: rosybrown;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
}

h3 {
    color: black;
    text-align: center;
    font-size: 25px;
}

h4 {
    color: black;
    text-align: center;
    font-size: 18px;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

ul {
    list-style-type: none; 
}

#logo {
        float: left;
        font-size: 125px;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
}
#logo-service {
    float: left;
    font-size: 100px;
}

    

#menu {
    font-size: 20px;
    letter-spacing: 4px;
    color: red;
    text-shadow: 2px 2px 4px #000000;
}


#menu, #logo, #logo-service  {
    line-height: 95px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid red;
}

.active {
    border-bottom: 1px solid gold;
}

#web-studio {
    height: 850px;
    width: 100%;
    background: url('../images/web-studio.hompage.jpeg') no-repeat center center;
}

#services-main-image {
    height: 1000px;
    width: 100%;
    background: url('../images/services-image.jpeg') no-repeat center center;
}

#business-ethos {
    height: 800px;
    text-align: center;
    margin: 50px 50px 50px 50px;
}

#services-category {
    height: 300px;
}

#ethos-title {
    text-align: center;
    width: 40px;
    height: 40px;
}

#ethos-image {
    height: 1000px;
    width: 100%;
    padding-left: 100px;
    background: url(../images/ethos-image.jpeg) no-repeat center center;
    background-color: black;
}

#services-image {
    height: 1000px;
    width: 100%;
    align-self: auto;
    background: url(../images/services-image.jpeg) no-repeat center center;
}

.left-about-heading {
    width: 100%;
    line-height: 40px;
    clear: right;
    margin-bottom: 50px;
    color: black;
    text-align: center;

}

@media screen and (max-width: 950px){
    #menu {
        clear: left;
        float: right;
        margin-left: 5px;
        margin-bottom: 15px;
        line-height: 15px;
        font-size: 13px;
    }

    #logo {
        clear:left;
        float:left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px auto;
        font-size: 25px;
        text-align: center;
    }

     h1 {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 20px;
        text-align: center;
        width: 90%;
    }

    #business-ethos {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, #about {
        width: inherit;

    }

    .left-about-heading h3 {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }

    .left-about-heading h4 {
        text-align: center;
        padding: 0 20 px;
        font-size: 12px; 
    }

    #about h2 {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    #about h4 {
        text-align: center;
        padding: 0 20 px;
        font-size: 12px;
    }


    #web-studio {
            width: 100%;
            clear: both;
            height: 500px; 
            padding: 0;
            margin-left: 30px;
            margin-bottom: 20px;
            margin: 0 auto;
            float: inherit;
        }

    #ethos-image {
        width: 100%;
        clear: both;
        padding: 0;
        height: 500px;
        margin-left: 30px;
        margin-bottom: 20px;
        margin: 0 auto;

    }

    #logo-service {
        clear:left;
        float:left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px auto;
        font-size: 30px;
        text-align: center;
    }

    #services-category {
        width: 100%;
        height: 380px;
        margin: 0 auto;
    }

    #services-image {
        width: 100%;
        clear: both;
        padding: 0;
        height: 800px;
        margin-left: 30px;
        margin-bottom: 20px;
        margin: 0 auto;
        padding: 0;
    }

    .seo  {
        width: 100%;
        float: none;
        line-height: 40px;
        clear: right;
        margin-bottom: 50px;
        color: black;
        text-align: center;
        font-size: 18px;;
    }
    .seo  h4{
        width: 100%;
        float: none;
        line-height: 40px;
        clear: right;
        margin-bottom: 50px;
        color: black;
        text-align: center;
        font-size: 14px;
    }

    .digital-marketing {
        width: 100%;
        float: none;
        line-height: 40px;
        clear: right;
        margin-bottom: 50px;
        color: black;
        text-align: center;
    }

    .digital-marketing h4 {
        width: 100%;
        float: none;
        line-height: 40px;
        clear: right;
        margin-bottom: 50px;
        color: black;
        text-align: center;
        font-size: 14px;
    }

    .business-dev {
        width: 100%;
        float: none;
        line-height: 40px;
        clear: right;
        margin-bottom: 50px;
        color: black;
        text-align: center;
    }

    .business-dev h4 {
        width: 100%;
        float: none;
        line-height: 40px;
        clear: right;
        margin-bottom: 50px;
        color: black;
        font-size: 14px;
        text-align: center;
    }

    #contact-image {
        height: 200px;
        width: 90%;
        padding: 0;
    }

    .contact-section {
        clear: both;
        height: 450px;
        text-align: center;
}

.interesting h2 {
    width: 100%;
        text-align: center;
        font-size: 15px;
}
.interesting h4 {
    text-align: center;
        padding: 0 20 px;
        font-size: 10px;
}
    .signup-form {
        margin: 95px 5% 0 0;
        color: rosybrown;
        background-color:black;
        max-width: 200px;
        max-height: 400px;
        position: absolute;
        left: 5%;
        padding: 0;
    }

    signup-form h2 {
        color: rosybrown;
        margin-bottom: 20px;
     }
     
     .signup-form h4 {
         color: rosybrown;
         margin-bottom: 20px;
      }
     
     .text-input {
        background: transparent;
        color: black;
        width: 100%;
        height: 15px;
        margin: 2.5px 10px;
        border: 1px solid red; 
        border-radius: 2px;
     }
     
     .text-input:hover {
        border-color:#f16c6b;
     }
     
     .text-input:hover {
         border-color:#f16c6b;
     }
     
     .join-button {
         margin-top: 28px;
         border-radius: 2px;
         padding-left: 1%;
         text-align: center;
         font-size: 100%;
         background-color:rosybrown;
         color: black;
         display: block;
         float: inherit;
     }
     
     .join-button:hover {
         background-color: #008000;
         color:#ffff;
     }
     
     .contact-section i {
         float: left;
         list-style-type: none;
         margin-left: 10px;
     }

}


#about {
    text-align: center;
    margin-top: 5px; 
}

.seo {
    width: 100%;
    float: none;
    line-height: 40px;
    clear: right;
    margin-bottom: 50px;
    color: black;
    text-align: center;
}

.digital-marketing {
    width: 100%;
    float: none;
    line-height: 40px;
    clear: right;
    margin-bottom: 50px;
    color: black;
    text-align: right;
}

.business-dev {
    width: 100%;
    float: none;
    line-height: 40px;
    clear: right;
    margin-bottom: 50px;
    color: black;
    text-align: right;
}

#last-section {
    background-color: black;
    height: 5px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1px;
    padding: 20px;
    color:rosybrown;
}

.contact-section {
        clear: left;
        height: 900px;
}

.contact-section li {
    float: left;
}

#contact-image {
    height: 850px;
    width: 100%;
    background: url('../images/contact-image.jpeg');
}

.contact-section {
   text-align: center;
    list-style-type: none;
    margin-right: 30px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: rosybrown;
    background-color:black;
    max-width: 400px;
    max-height: 800px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
   color: rosybrown;
   margin-bottom: 20px;
}

.signup-form h4 {
    color: rosybrown;
    margin-bottom: 20px;
 }

.text-input {
   background: transparent;
   color: black;
   width: 100%;
   height: 25px;
   margin: 5px 20px;
   border: 1px solid red; 
   border-radius: 2px;
}

.text-input:hover {
   border-color:#f16c6b;
}

.text-input:hover {
    border-color:#f16c6b;
}

.join-button {
    margin-top: 28px;
    border-radius: 2px;
    padding-left: 1%;
    text-align: center;
    font-size: 100%;
    background-color:rosybrown;
    color: black;
    display: block;
    float: inherit;
}

.join-button:hover {
    background-color: #008000;
    color:#ffff;
}

.contact-section i {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}