@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Oswald&display=swap');

*  {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Comforter', cursive;
    font-weight: 300;
}