@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: rosybrown;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

ul {
    list-style-type: none; 
}

#logo {
        float: left;
        font-size: 140px;
}

#menu {
    font-size: 15px;
    float: right;
    letter-spacing: 5px;
}

#menu li {

        display: inline-block;
        color: aliceblue;
        width: 100px;
        text-align: center;
        margin-right: 5px; 
}
menu a {
        text-decoration: none;
        color:inherit;
}

menu:hover {
    border-bottom: 1px solid red;
}

.active {
    border-bottom: 1px solid #0000ff;
}

